@import '../../color-variables.scss';

.nav-area{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    padding: 10px 8vw;
    box-shadow: 4px 4px 4px 4px $object-color;

    .link-logo{
        text-decoration: none;
      

        .logo{
            width: 200px;
        }
    }
}