@import '../../color-variables.scss';
.nav-links{
    display: flex;
    gap: 20px;
    font-size: 16px;

    a{
        text-decoration: none;
       
    }

    a:hover{
        border-bottom: 3px solid $bg-primary-color;
        transition: border 0.05s ease;
        opacity: 0.8;
    }
    
}

@media (max-width:990px) {
    .nav-links{
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        position: absolute;
        top: -180px;
    }
}